body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #3ca2e0;
}

.logo {
  margin-top: 40px;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
}

.main {
  padding: 50px 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 320px;
  border-radius: 2%;
  text-align: center;
}
.icons {
  padding-right: 10px;
  margin-bottom: -6px;
}
.userInput {
  background: none;
  padding-left: 15px;
  margin: 20px auto;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  width: 60%;
}

.userButton {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  background-color: #ec3c63;
  border: 0;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  margin-bottom: 80px;
}
